.campos{
    width: 80%;
    margin-left: 15%;
}

.Titulo{
    font-size: 20px;
    font-weight: 600;
}

    
    main{
        position: absolute;
        top: 15%;
        left: 37%;
        width: 50%;
        border-radius: 20px;
    }

        main #PQRS{
            background-color: rgba(237, 253, 4, 0.89);
            padding: 20px;
            z-index: 1;
            width: 80%;
        }

        main select,input{
            font-size: 16px;
            font-family: 'Crimson Text', serif;
            width: 80%;
            padding: 5px;
            margin: 5px;
            
        }

        main textarea{
            margin-left: 1%;
            width: 80%;
        }

        main input[type="submit"]{
            width: 20%;
            padding: 10px 0;
            border-radius: 2px;
            margin-left: 37%;
        }

    #PreguntasFrecuentes{
        background-color: rgb(0, 4, 49);
        color: white;
        margin-top: 20px;
        border-radius: 5px;
        text-align: center;
        width: 75%;
        position: fixed;
        top: 80%;
        transition: all .6s ease-in-out;
        left: 21%;
        right: 0%;

        
    }
        
    #PreguntasFrecuentes:hover, #imgBoton{
        top:20%;
        transition: all .6s ease-in-out;
        z-index: 2;
    }
        #PreguntasFrecuentes #preguntaFrecuente{
            border-bottom: 1px solid white;
        }

        #PreguntasFrecuentes #Preguntas #BotonFormulario #imgBoton{
            transform: rotate(180deg);
            transition: all .6s ease-in-out;
        }

        #PreguntasFrecuentes:hover #Preguntas #BotonFormulario #imgBoton{
            transform: rotate(0deg);
            transition: all .6s ease-in-out;
        }
