main{
    position: absolute;
    left: 35%;
    top: 20%;
    font-size: 0.8em;
}

h1{
    position: absolute;
    left: 45%;
    font-size: 2em;
}

input[type="text"]{
    margin: 2% 7%;
}

input[type="date"]{
    margin: 2% 7%;
}

input[type="submit"]{
    margin-top: 20px;
    margin-left: 35%;
    padding: 10px 20px;
}

label{
    margin-left: 30px;
}

#campoCotizacion{
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    object-position: 5%;
}
    #servicios{
        list-style: none;
        display: inline-flex;
        margin-top: 5%;
    }

        #servicios li{
            margin-right: 50px;
        }

    #precios{
        margin-left: 30px;
    }
        #precios p{
            margin-left: 30px;
        }